<% include ./layouts/header %>
<h1>Panel Contribuyente</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Patente</th>
            <th scope="col">Cuit</th>
            <th scope="col">Confirmar pase del camion</th>
            <th scope="col">Imagen del camion</th>
        </tr>
    </thead>

    <tbody>
        <% if(typeof serie !== 'undefined') { %>

        <% serie.forEach(function(serie) { %>
        <tr>
            <td><%- serie.patente.substring(0,10)%></td>
            <td><%- serie.cuit.substring(0,15) %></td>
            <td style="min-width: 300px;">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    <%- serie.estadocamion %>
                </button>
                <form action="/cambiarestadocamion" method="POST">
                    <div class="form-group">
                        <label for="cambiarestadocamion">Toque para abrir las opciones</label>
                        <select class="form-control" name="cambiarestadocamion" id="cambiarestadocamion">
                            <option value="Pase confirmado">Confirmar pase del camion</option>
                            <option value="Pase denegado">Denegar pase del camion</option>
                        </select>
                    </div>

                    <input name="cambiarestadocamion2" id="cambiarestadocamion2" type="hidden" class="form-control"
                        value="<%- serie._id %>">
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger">Aplicar cambios de estado</button>
                    </div>
                </form>
            </td>
            <td>
                <a href="http://localhost:3000/<%- serie.image %>" data-toggle="lightbox">
                <img  style="max-width: 13% !important;" class="img-fluid" id="image-home"
                    src="http://localhost:3000/<%- serie.image %>" alt="Card image cap">
            </a>
                
            </td>
        </tr>
        <% }); %>
        <% } %>

    </tbody>
</table>


<nav aria-label="Page navigation example">
    <% if(typeof pages !== 'undefined') { %>
    <% if (pages > 0) { %>
    <ul class="pagination">
        <% if (current == 1) { %>
        <li class="page-item"><a class="page-link" class="disabled">
                << </a> <% } else { %> <a class="page-link" href="/contribuyente/1">
                    <<</a> <% } %> <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %> <% if (i !== 1) { %> <a
                        class="page-link" class="disabled">...
            </a></li>
        <% } %>
        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
        <% if (i == current) { %>
        <li class="page-item"><a class="page-link active"><%= i %></a></li>
        <% } else { %>
        <li class="page-item"><a class="page-link" href="/contribuyente/<%= i %>"><%= i %></a></li>
        <% } %>
        <% if (i == Number(current) + 4 && i < pages) { %>
        <li class="page-item"><a class="page-link disabled">...</a></li>
        <% } %>
        <% } %>
        <% if (current == pages) { %>
        <li class="page-item"><a class="page-link disabled">>></a></li>
        <% } else { %>
        <li class="page-item"><a class="page-link" href="/contribuyente/<%= pages %>">>></a></li>
        <% } %>
    </ul>
    <% } %>
    <% } %>
</nav>

<% include ./layouts/footer %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"
    integrity="sha256-Y1rRlwTzT5K5hhCBfAFWABD4cU13QGuRN6P5apfWzVs=" crossorigin="anonymous"></script>
<script>
    $(document).on('click', '[data-toggle="lightbox"]', function (event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>